// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin-left: 24px;
}

.question {
  width: 350px;
  background-color: #FFFFFF;
  padding: 8px;
  margin-bottom: 16px;
  border-left: 4px lightgrey solid;
}

.answer {
  width: 350px;
  background-color: #FBFFDE;
  padding: 8px;
  margin-bottom: 16px;
  border-left: 4px lightgrey solid;
}

.question p,
.answer p {
  font-style: italic;
}

.ask a {
  text-decoration: none;
}

.ask_form {
  display: flex;
}
